/* Add your font  */
@font-face {
    font-family: 'kanit';
    src: url('font/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('font/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('font/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('font/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ============== Base ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}

a {
    color: #000;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
}
a:hover {
    opacity: .6;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}

/* ============== Class general use ============== */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}


:root {
    --back: #000;
}

/* ------- Font size ------- */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2x {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3x {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4x {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5x {
    font-size: 3rem;
    line-height: 1;
}

/* ------- Form Frequently used ------- */
.text-subtopic {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.text-support {
    display: block;
    text-align: center;
}

.text-heading {
    padding: 2rem 0;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.text-description {
    text-align: center;
    color: #333;
}

.btn-base {
    padding-top: 1rem;
    text-align: center;
}

.btn-base .btn {
    font-size: 1rem;
    padding: .7rem 1.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    transition: .2s ease;
}
.btn-base .btn:hover {
    opacity: .7;
}

/* ============== Navbar ============== */
.nav-support {
    width: 100%;
    background-color: #eee;
}

.support-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-support-logo {
    width: 25px;
}
.nav-support-logo img {
    width: 100%;
}

.nav-support-menu {
    display: flex;
}
.nav-support-menu li {
    padding: 0 1rem;
    border-right: 1px solid #000;
}
.nav-support-menu li:last-child {
    border-right: none;
    padding-right: 0;
}

.nav-menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: none;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.menu-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: .2rem 0;
}

.nav-menu .menu-logo {
    width: 70px;
}
.nav-menu .menu-logo:hover {
    opacity: 1;
}
.nav-menu .menu-logo img {
    width: 100%;
}

.menu-menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* ----- Navbar responsive ----- */

.menu-ham {
    display: none;
}

.nav-responsive .menu-menubar {
    display: block !important;
    flex-direction: column;
}

.nav-responsive {
    align-items: start !important;
}

.nav-responsive .menu-menubar li {
    text-align: center;
    padding-top: 2rem;
}

.nav-responsive .menu-menubar li:hover {
    border-bottom: none !important;
}

.nav-responsive .menu-ham {
    padding-top: 17px;
}

.menu-container li {
    border-bottom: 2px solid #fff;
    transition: all .2s ease;
}
.menu-menubar li:hover {
    border-bottom: 2px solid #000;
}

.menu-menubar li a:hover {
    opacity: 1 !important;
}

.menu-search {
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-search .search {
    display: flex;
    align-items: center;
}

.menu-search .search svg,
.menu-search .search i {
    display: block;
    margin-right: 5px;
    padding: 9.5px;
    border-radius: 50%;
    background-color: #eee;
    transition: all .2s ease;
    z-index: 11;
}
.menu-search .search svg:hover,
.menu-search .search i:hover {
    background-color: #ddd;
}

.menu-search .search input {
    font-size: 16px;
    margin-left: -40px;
    padding: .6rem;
    padding-left: 45px;
    border-radius: 50px;
    background-color: #eee;
    transition: all .2s ease;
}

.search-heart a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    border-radius: 50%;
}
.search-heart a:hover {
    background-color: #ddd;
}
.search-heart a i,
.search-heart a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}

.search-cart a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.search-cart a:hover {
    background-color: #ddd;
}
.search-cart a i,
.search-cart a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}

/* ============== Header ============== */
.header {
    width: 100%;
}

.hd-advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color: #eee;
    color: #333;
}

.hd-advert a {
    border-bottom: 2px solid #000;
}

.hd-advert-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}
.hd-advert-img a {
    opacity: 1 !important;
}

.hd-advert-video {
    width: 100%;
}
.hd-advert-video video {
    width: 100%;
}

/* ============== Content 1 ============== */
.content {
    width: 100%;
    margin: 2rem 0;
}


/* Popular */
.popular {
    margin: 2rem 0;
}

.popular-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.popular-cart .product-img {
    width: 290px;
    padding-bottom: 1rem;
}

.popular-cart .product-name {
    font-size: 1.25rem;
}


/* New product */
.newproduct {
    padding: 2rem 0;
}

.newpd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.newpd-theme {
    height: 700px;
    overflow: hidden;
    position: relative;

}

.newpd-theme img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.newpd-themedark, 
.newpd-themelight {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.newpd-theme span {
    font-size: 1rem;
    color: #fff;
}

.newpd-theme p {
    font-size: 1.75rem;
    padding: .5rem 0;
    color: #fff;
}

.newpd-themedark .newpd-btn {
    padding: .5rem 1rem;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    transition: .2s ease;
}
.newpd-themelight .newpd-btn {
    padding: .5rem 1rem;
    border-radius: 100px;
    background-color: #fff;
    color: #000;
    transition: .2s ease;
}
.newpd-themedark .newpd-btn:hover,
.newpd-themelight .newpd-btn:hover {
    opacity: .8;
}


/* Shopping Cart */
.shopcart {
    width: 100%;
    padding: 2rem 0;
}

.shc-topic {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}
.shop-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shc-skip {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.shc-skip a svg,
.shc-skip a i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.6rem;
    background-color: #eee;
}

.shopcart-grid {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 1rem;
    scroll-padding: 10px;
}
.shc-product {
    flex: 0 0 40%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    cursor: pointer;
}

.shc-product .shc-prd-img {
    width: 100%;
    opacity: .8;
    transition: .2s ease;
}
.shc-product .shc-prd-img:hover {
    opacity: 1;
}

.shc-prd-img img {
    height: 400px;
    object-fit: cover;
}

.prd-description {
    padding: .5rem 0;
    color: #444;
}


/* Don't miss */
.miss {
    padding: 2rem 0;
}

.miss video {
    width: 100%;
}


/* ============== Content 2 ============== */
.content-02 {
    width: 100%;
}

.ct-02-info {
    padding-bottom: 5rem;
}


/* Icornic */
.icornic-grid {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 1rem;
    scroll-padding: 10px;
}
.icornic-cart {
    flex: 0 0 40%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    cursor: pointer;
}

.icornic-cart .cart-img {
    width: 100%;
    opacity: .8;
    transition: .2s ease;
}
.icornic-cart .cart-img:hover {
    opacity: 1;
}

.icornic-name {
    font-size: 1.25rem;
    padding: 1rem 0;
    color: #444;
}


/* Sport */
.sport {
    width: 100%;
    padding: 2rem 0;
}

.sport-grid {
    display: flex;
    overflow: auto;
    gap: 1rem;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
}

.sport-items {
    flex: 0 0 40%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    cursor: pointer;
}

.sport-items .cart-img {
    width: 100%;
    overflow: hidden;
}

.sport-items .cart-img img {
    object-fit: cover;
    height: 500px;
}

.sport-items .cart-info .cart-name {
    font-size: 1.25rem;
    padding-top: 1rem;
}

.sport-items .cart-info .cart-description {
    font-size: 1rem;
    padding: 1rem 0;
    color: #444;
}

.sport-items .cart-info .cart-btn a {
    display: block;
    font-size: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid #000;
}

/* Product Basic */
.basic {
    width: 100%;
    padding: 2rem 0;
}

.basic-grid {
    display: flex;
    gap: 1rem;
}

.basic-img {
    position: relative;
    width: 100%;
}
.basic-img img {
    height: 600px;
    object-fit: cover;
}

.basic-btn a {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
}

.basic-style {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.style-grid {
    width: 20%;
    /* flex: 0 0 20%; */
}

.basic-style .style-heading {
    font-size: 1.1rem;
    padding: 2rem 0;
}

.basic-style .style-items a {
    display: block;
    font-size: 1rem;
    padding: .5rem 0;
    color: #444 !important;
}


/* ============== Footer ============== */
.footer {
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.footer-container-left {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 2;
}

.footer-items a {
    display: block;
    padding: .3rem 0;
    color: #555;
}

.footer-grid .active a {
    padding: .5rem 0;
    color: #fff !important;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    flex-grow: 4;
}

.footer-contact a i,
.footer-contact a svg {
    width: 20px;
    height: 20px;
    display: block;
    padding: .5rem;
    background-color: #555;
    border-radius: 50%;
}

.footer-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 1rem;
}

.ft-location {
    display: flex;
    gap: 1rem;
    color: #555;
    
}

.ft-location a {
    color: #fff;
}

.ft-location a i,
.ft-location a svg {
    padding-right: .5rem;
}

.ft-recommend {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ----------------------------------------------- */

/* ============== Responsive ============== */

/* ----------------------------------------------- */


@media screen and (max-width: 1024px) {
   
    /* ====== Navbar ====== */
    .menu-search {
        display: none;
    }

    .menu-ham {
        display: block !important;
        position: absolute;
        right: 1rem;
    }
}

@media screen and (max-width: 992px) {
    
    /* ===== Content 1 ===== */
    /* Popular */
    .popular-cart {
        justify-content: center;
    }

    /* ===== Content 2 ===== */
    /* Icornic */
    .icornic-cart {
        flex: 0 0 80%;
    }

    /* Sport */
    .sport-items {
        flex: 0 0 80%;
    }

    /* Product Basic */
    .basic-grid {
        flex-direction: column;
    }

    .basic-style {
        flex-wrap: wrap;
        gap: 0;
    }

    .style-grid {
        width: 50%;
    }

    /* ===== Footer ===== */
    .footer-container-left {
        flex-direction: column;
    }

    .footer-help {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 890px) {
    /* ===== Navbar ===== */
    .menu-menubar {
        display: none;
    }

    .nav-support-menu {
        display: none;
    }
    
}

@media screen and (max-width: 640px) {
    
    /* ===== Content 1 ===== */
    /* Popular */
    .popular-cart .product-img {
        width: 100%;
    }

    /* New product */
    .newpd-grid {
        grid-template-columns: 1fr;
    }

    /* Shopping Cart */ 
    .shc-product {
        flex: 0 0 80%;
    }

    /* Product Basic */
    .style-grid {
        width: 100%;
    }

    /* ===== Footer ===== */
    .footer-contact {
        flex-direction: column;
    }

    .ft-recommend {
        display: none;
    }

   
    

}
